# 数据转换

## rename的用法
rename（mapper = None，index = None,columns = None，axis = None，copy = True，inplace = False，level = None）
index，columns,axis：表示对行索引名或列索引名的转换
inplace：默认为False，表示是否返回新的Pandas对象
mapper: 映射关系，可以是字典，也可以是一个函数
inplace: 是否修改df的数据 默认为false 如果为true忽略copy的值
copy：布尔值，默认为True，复制底层数据
level: 在多重索引中选择哪一个索引

In [3]:
import pandas as pd
data = pd.read_excel('adult.data.xls')
data

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [4]:
#此处演示使用 columns函数 index函数同理
data.rename(columns={'age':'年龄','workclass':'雇主类型','fnlwgt':'人口普查员认为观察值的人数','education':'教育程度','education_num':'受教育年限','marital-status':'婚姻状况','occupation':'职业','relationship':'群体性关系','race':'种族','sex':'性别','capital-gain':'资本收益','capital-loss':'资本损失','hours-per-week':'每周工作时间','native-country':'国籍','salary':'工资'})

,年龄,雇主类型,人口普查员认为观察值的人数,教育程度,education-num,婚姻状况,职业,群体性关系,种族,性别,资本收益,资本损失,每周工作时间,国籍,工资
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [5]:
#此处演示 axis函数 用法与上面大致相同
data.rename({'age':'年龄','workclass':'雇主类型','fnlwgt':'人口普查员认为观察值的人数','education':'教育程度','education-num':'受教育年限','marital-status':'婚姻状况','occupation':'职业','relationship':'群体性关系','race':'种族','sex':'性别','capital-gain':'资本收益','capital-loss':'资本损失','hours-per-week':'每周工作时间','native-country':'国籍','salary':'工资'},axis=1)

,年龄,雇主类型,人口普查员认为观察值的人数,教育程度,education-num,婚姻状况,职业,群体性关系,种族,性别,资本收益,资本损失,每周工作时间,国籍,工资
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

### Mapper参数 可以使用字典或者函数

In [14]:
#此处采用data里的age列演示
df = data.age
df

0        39
1        50
2        38
3        53
4        28
         ..
32556    27
32557    40
32558    58
32559    22
32560    52
Name: age, Length: 32561, dtype: int64

In [12]:
#使用函数
df.rename(lambda x:x+10)

10       39
11       50
12       38
13       53
14       28
         ..
32566    27
32567    40
32568    58
32569    22
32570    52
Name: age, Length: 32561, dtype: int64

In [19]:
#使用字典
df.rename({0:100})

100      39
1        50
2        38
3        53
4        28
         ..
32556    27
32557    40
32558    58
32559    22
32560    52
Name: age, Length: 32561, dtype: int64

In [8]:
data.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

## 数据切片
pandas.cut（x，bins，right = True，labels = None，retbins = False，precision = 3，include_lowest = False，duplicates ='raise' ）
x: 表示要分箱的数组,注:必须是一维数组
bins: 接受int和序列类型的数据
right:是否包含右端点,决定区间的开闭,默认为True
labels:标签

In [45]:
data['hours-per-week'] = pd.cut(data['hours-per-week'],5)
data['hours-per-week']

0         (20.6, 40.2]
1        (0.902, 20.6]
2         (20.6, 40.2]
3         (20.6, 40.2]
4         (20.6, 40.2]
             ...
32556     (20.6, 40.2]
32557     (20.6, 40.2]
32558     (20.6, 40.2]
32559    (0.902, 20.6]
32560     (20.6, 40.2]
Name: hours-per-week, Length: 32561, dtype: category
Categories (5, interval[float64, right]): [(0.902, 20.6] < (20.6, 40.2] < (40.2, 59.8] < (59.8, 79.4] < (79.4, 99.0]]

In [46]:
# 此处展示bins的另一种用法 手动设置
pd.cut(data['education-num'],[0,6,9,12,15,100])

0        (12, 15]
1        (12, 15]
2          (6, 9]
3          (6, 9]
4        (12, 15]
           ...
32556     (9, 12]
32557      (6, 9]
32558      (6, 9]
32559      (6, 9]
32560      (6, 9]
Name: education-num, Length: 32561, dtype: category
Categories (5, interval[int64, right]): [(0, 6] < (6, 9] < (9, 12] < (12, 15] < (15, 100]]

In [37]:
# 此处讲解labels的用法
data.age = pd.cut(data.age,5,labels=['幼年','青年','中年','壮年','老年'])
data

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,青年,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,中年,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,青年,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,中年,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,幼年,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,幼年,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,青年,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,中年,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,幼年,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,中年,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K