# 数据转换

## rename的用法

rename（mapper = None，index = None,columns = None，axis = None，copy = True，inplace = False，level = None）
index，columns,axis：表示对行索引名或列索引名的转换
inplace：默认为False，表示是否返回新的Pandas对象
mapper: 映射关系，可以是字典，也可以是一个函数
inplace: 是否修改df的数据 默认为false 如果为true忽略copy的值
copy：布尔值，默认为True，复制底层数据
level: 在多重索引中选择哪一个索引

In [8]:
import pandas as pd
df = pd.DataFrame({'name':['张蔷','伍剑中','贾文静','宋文燕'],'weight':[100,200,100,100],'gender':['female','male','female','female']})
df

  name  weight  gender
0   张蔷     100  female
1  伍剑中     200    male
2  贾文静     100  female
3  宋文燕     100  female

In [34]:
# df.rename(columns={'weight':'体重','name':'姓名'},copy= True)
df.rename({'weight':'体重','name':'姓名'},axis=1)

    姓名   体重  gender
0   张蔷  100  female
1  伍剑中  200    male
2  贾文静  100  female
3  宋文燕  100  female

In [35]:
# df.rename(index={0:10})
df.rename({0:10},axis=0)

   name  weight  gender
10   张蔷     100  female
1   伍剑中     200    male
2   贾文静     100  female
3   宋文燕     100  female

In [3]:
# mapper：dict or function
# 映射关系，可以是字典，也可以是一个函数。
df.rename({0:111})

    name  weight100  gender
111   张蔷        100  female
1    伍剑中        200    male
2    贾文静        100  female
3    宋文燕        100  female

In [5]:
df.rename(lambda x: x+10)

   name  weight100  gender
10   张蔷        100  female
11  伍剑中        200    male
12  贾文静        100  female
13  宋文燕        100  female

In [20]:
# pd.cut(df['weight'],bins=10)
# d_cut = df.copy()
# d_cut['weight'] = pd.cut(d_cut['weight'],4)
# d_cut
pd.cut(df['weight'],4,labels=['苗条','正常','微胖','超重'])

0    苗条
1    超重
2    苗条
3    苗条
Name: weight, dtype: category
Categories (4, object): ['苗条' < '正常' < '微胖' < '超重']

In [4]:
import pandas as pd
data = pd.read_excel("adult.data.xls")
data

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [8]:
data.rename(columns={'age':'年龄','workclass':'雇主类型','fnlwgt':'人口普查员认为观察值的人数','education':'教育程度','education_num':'受教育年限','marital-status':'婚姻状况','occupation':'职业','relationship':'群体性关系','race':'种族','sex':'性别','capital-gain':'资本收益','capital-loss':'资本损失','hours-per-week':'每周工作时间','native-country':'国籍','salary':'工资'})

,年龄,雇主类型,人口普查员认为观察值的人数,教育程度,education-num,婚姻状况,职业,群体性关系,种族,性别,资本收益,资本损失,每周工作时间,国籍,工资
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

TypeError: Index(...) must be called with a collection of some kind, '年龄' was passed